.subscribers span.word {
    font-size: 0px;
}
.subscribers span.word:after {
    font-size: 12px;
    content: 'shitposters';
}
[title="Designer added 1 hour by HateCumbuckets"],
[title="Designer added 1.1 hours by HateCumbuckets"],
[title="Designer added 1.2 hours by HateCumbuckets"],
[title="Designer added 1.3 hours by HateCumbuckets"],
[title="Designer added 1.4 hours by HateCumbuckets"],
[title="Designer added 1.5 hours by HateCumbuckets"],
[title="Designer added 1.6 hours by HateCumbuckets"],
[title="Designer added 1.7 hours by HateCumbuckets"],
[title="Designer added 1.8 hours by HateCumbuckets"],
[title="Designer added 1.9 hours by HateCumbuckets"],
[title="Designer added 2 hours by HateCumbuckets"],
[title="Designer added 2.1 hours by HateCumbuckets"],
[title="Designer added 2.2 hours by HateCumbuckets"],
[title="Designer added 2.3 hours by HateCumbuckets"],
[title="Designer added 2.4 hours by HateCumbuckets"],
[title="Designer added 2.5 hours by HateCumbuckets"],
[title="Designer added 2.6 hours by HateCumbuckets"],
[title="Designer added 2.7 hours by HateCumbuckets"],
[title="Designer added 2.8 hours by HateCumbuckets"],
[title="Designer added 2.9 hours by HateCumbuckets"],
[title="Designer added 3 hours by HateCumbuckets"],
[title="Designer added 3.1 hours by HateCumbuckets"],
[title="Designer added 3.2 hours by HateCumbuckets"],
[title="Designer added 3.3 hours by HateCumbuckets"],
[title="Designer added 3.4 hours by HateCumbuckets"],
[title="Designer added 3.5 hours by HateCumbuckets"],
[title="Designer added 3.6 hours by HateCumbuckets"],
[title="Designer added 3.7 hours by HateCumbuckets"],
[title="Designer added 3.8 hours by HateCumbuckets"],
[title="Designer added 3.9 hours by HateCumbuckets"],
[title="Designer added 4 hours by HateCumbuckets"],
[title="Designer added 4.1 hours by HateCumbuckets"],
[title="Designer added 4.2 hours by HateCumbuckets"],
[title="Designer added 4.3 hours by HateCumbuckets"],
[title="Designer added 4.4 hours by HateCumbuckets"],
[title="Designer added 4.5 hours by HateCumbuckets"],
[title="Designer added 4.6 hours by HateCumbuckets"],
[title="Designer added 4.7 hours by HateCumbuckets"],
[title="Designer added 4.8 hours by HateCumbuckets"],
[title="Designer added 4.9 hours by HateCumbuckets"],
[title="Designer added 5 hours by HateCumbuckets"],
[title="Designer added 5.1 hours by HateCumbuckets"],
[title="Designer added 5.2 hours by HateCumbuckets"],
[title="Designer added 5.3 hours by HateCumbuckets"],
[title="Designer added 5.4 hours by HateCumbuckets"],
[title="Designer added 5.5 hours by HateCumbuckets"],
[title="Designer added 5.6 hours by HateCumbuckets"],
[title="Designer added 5.7 hours by HateCumbuckets"],
[title="Designer added 5.8 hours by HateCumbuckets"],
[title="Designer added 5.9 hours by HateCumbuckets"],
[title="Designer added 6 hours by HateCumbuckets"],
[title="Designer added 6.1 hours by HateCumbuckets"],
[title="Designer added 6.2 hours by HateCumbuckets"],
[title="Designer added 6.3 hours by HateCumbuckets"],
[title="Designer added 6.4 hours by HateCumbuckets"],
[title="Designer added 6.5 hours by HateCumbuckets"],
[title="Designer added 6.6 hours by HateCumbuckets"],
[title="Designer added 6.7 hours by HateCumbuckets"],
[title="Designer added 6.8 hours by HateCumbuckets"],
[title="Designer added 6.9 hours by HateCumbuckets"],
[title="Designer added 7 hours by HateCumbuckets"],
[title="Designer added 7.1 hours by HateCumbuckets"],
[title="Designer added 7.2 hours by HateCumbuckets"],
[title="Designer added 7.3 hours by HateCumbuckets"],
[title="Designer added 7.4 hours by HateCumbuckets"],
[title="Designer added 7.5 hours by HateCumbuckets"],
[title="Designer added 7.6 hours by HateCumbuckets"],
[title="Designer added 7.7 hours by HateCumbuckets"],
[title="Designer added 7.8 hours by HateCumbuckets"],
[title="Designer added 7.9 hours by HateCumbuckets"],
[title="Designer added 8 hours by HateCumbuckets"],
[title="Designer added 8.1 hours by HateCumbuckets"],
[title="Designer added 8.2 hours by HateCumbuckets"],
[title="Designer added 8.3 hours by HateCumbuckets"],
[title="Designer added 8.4 hours by HateCumbuckets"],
[title="Designer added 8.5 hours by HateCumbuckets"],
[title="Designer added 8.6 hours by HateCumbuckets"],
[title="Designer added 8.7 hours by HateCumbuckets"],
[title="Designer added 8.8 hours by HateCumbuckets"],
[title="Designer added 8.9 hours by HateCumbuckets"],
[title="Designer added 9 hours by HateCumbuckets"],
[title="Designer added 9.1 hours by HateCumbuckets"],
[title="Designer added 9.2 hours by HateCumbuckets"],
[title="Designer added 9.3 hours by HateCumbuckets"],
[title="Designer added 9.4 hours by HateCumbuckets"],
[title="Designer added 9.5 hours by HateCumbuckets"],
[title="Designer added 9.6 hours by HateCumbuckets"],
[title="Designer added 9.7 hours by HateCumbuckets"],
[title="Designer added 9.8 hours by HateCumbuckets"],
[title="Designer added 9.9 hours by HateCumbuckets"],
[title="Designer added 10 hours by HateCumbuckets"],
[title="Designer added 10.1 hours by HateCumbuckets"],
[title="Designer added 10.2 hours by HateCumbuckets"],
[title="Designer added 10.3 hours by HateCumbuckets"],
[title="Designer added 10.4 hours by HateCumbuckets"],
[title="Designer added 10.5 hours by HateCumbuckets"],
[title="Designer added 10.6 hours by HateCumbuckets"],
[title="Designer added 10.7 hours by HateCumbuckets"],
[title="Designer added 10.8 hours by HateCumbuckets"],
[title="Designer added 10.9 hours by HateCumbuckets"],
[title="Designer added 11 hours by HateCumbuckets"],
[title="Designer added 11.1 hours by HateCumbuckets"],
[title="Designer added 11.2 hours by HateCumbuckets"],
[title="Designer added 11.3 hours by HateCumbuckets"],
[title="Designer added 11.4 hours by HateCumbuckets"],
[title="Designer added 11.5 hours by HateCumbuckets"],
[title="Designer added 11.6 hours by HateCumbuckets"],
[title="Designer added 11.7 hours by HateCumbuckets"],
[title="Designer added 11.8 hours by HateCumbuckets"],
[title="Designer added 11.9 hours by HateCumbuckets"],
[title="Designer added 12 hours by HateCumbuckets"],
[title="Designer added 12.1 hours by HateCumbuckets"],
[title="Designer added 12.2 hours by HateCumbuckets"],
[title="Designer added 12.3 hours by HateCumbuckets"],
[title="Designer added 12.4 hours by HateCumbuckets"],
[title="Designer added 12.5 hours by HateCumbuckets"],
[title="Designer added 12.6 hours by HateCumbuckets"],
[title="Designer added 12.7 hours by HateCumbuckets"],
[title="Designer added 12.8 hours by HateCumbuckets"],
[title="Designer added 12.9 hours by HateCumbuckets"],
[title="Designer added 13 hours by HateCumbuckets"],
[title="Designer added 13.1 hours by HateCumbuckets"],
[title="Designer added 13.2 hours by HateCumbuckets"],
[title="Designer added 13.3 hours by HateCumbuckets"],
[title="Designer added 13.4 hours by HateCumbuckets"],
[title="Designer added 13.5 hours by HateCumbuckets"],
[title="Designer added 13.6 hours by HateCumbuckets"],
[title="Designer added 13.7 hours by HateCumbuckets"],
[title="Designer added 13.8 hours by HateCumbuckets"],
[title="Designer added 13.9 hours by HateCumbuckets"],
[title="Designer added 14 hours by HateCumbuckets"],
[title="Designer added 14.1 hours by HateCumbuckets"],
[title="Designer added 14.2 hours by HateCumbuckets"],
[title="Designer added 14.3 hours by HateCumbuckets"],
[title="Designer added 14.4 hours by HateCumbuckets"],
[title="Designer added 14.5 hours by HateCumbuckets"],
[title="Designer added 14.6 hours by HateCumbuckets"],
[title="Designer added 14.7 hours by HateCumbuckets"],
[title="Designer added 14.8 hours by HateCumbuckets"],
[title="Designer added 14.9 hours by HateCumbuckets"],
[title="Designer added 15 hours by HateCumbuckets"],
[title="Designer added 15.1 hours by HateCumbuckets"],
[title="Designer added 15.2 hours by HateCumbuckets"],
[title="Designer added 15.3 hours by HateCumbuckets"],
[title="Designer added 15.4 hours by HateCumbuckets"],
[title="Designer added 15.5 hours by HateCumbuckets"],
[title="Designer added 15.6 hours by HateCumbuckets"],
[title="Designer added 15.7 hours by HateCumbuckets"],
[title="Designer added 15.8 hours by HateCumbuckets"],
[title="Designer added 15.9 hours by HateCumbuckets"],
[title="Designer added 16 hours by HateCumbuckets"],
[title="Designer added 16.1 hours by HateCumbuckets"],
[title="Designer added 16.2 hours by HateCumbuckets"],
[title="Designer added 16.3 hours by HateCumbuckets"],
[title="Designer added 16.4 hours by HateCumbuckets"],
[title="Designer added 16.5 hours by HateCumbuckets"],
[title="Designer added 16.6 hours by HateCumbuckets"],
[title="Designer added 16.7 hours by HateCumbuckets"],
[title="Designer added 16.8 hours by HateCumbuckets"],
[title="Designer added 16.9 hours by HateCumbuckets"],
[title="Designer added 17 hours by HateCumbuckets"],
[title="Designer added 17.1 hours by HateCumbuckets"],
[title="Designer added 17.2 hours by HateCumbuckets"],
[title="Designer added 17.3 hours by HateCumbuckets"],
[title="Designer added 17.4 hours by HateCumbuckets"],
[title="Designer added 17.5 hours by HateCumbuckets"],
[title="Designer added 17.6 hours by HateCumbuckets"],
[title="Designer added 17.7 hours by HateCumbuckets"],
[title="Designer added 17.8 hours by HateCumbuckets"],
[title="Designer added 17.9 hours by HateCumbuckets"],
[title="Designer added 18 hours by HateCumbuckets"],
[title="Designer added 18.1 hours by HateCumbuckets"],
[title="Designer added 18.2 hours by HateCumbuckets"],
[title="Designer added 18.3 hours by HateCumbuckets"],
[title="Designer added 18.4 hours by HateCumbuckets"],
[title="Designer added 18.5 hours by HateCumbuckets"],
[title="Designer added 18.6 hours by HateCumbuckets"],
[title="Designer added 18.7 hours by HateCumbuckets"],
[title="Designer added 18.8 hours by HateCumbuckets"],
[title="Designer added 18.9 hours by HateCumbuckets"],
[title="Designer added 19 hours by HateCumbuckets"],
[title="Designer added 19.1 hours by HateCumbuckets"],
[title="Designer added 19.2 hours by HateCumbuckets"],
[title="Designer added 19.3 hours by HateCumbuckets"],
[title="Designer added 19.4 hours by HateCumbuckets"],
[title="Designer added 19.5 hours by HateCumbuckets"],
[title="Designer added 19.6 hours by HateCumbuckets"],
[title="Designer added 19.7 hours by HateCumbuckets"],
[title="Designer added 19.8 hours by HateCumbuckets"],
[title="Designer added 19.9 hours by HateCumbuckets"],
[title="Designer added 20 hours by HateCumbuckets"],
[title="Designer added 20.1 hours by HateCumbuckets"],
[title="Designer added 20.2 hours by HateCumbuckets"],
[title="Designer added 20.3 hours by HateCumbuckets"],
[title="Designer added 20.4 hours by HateCumbuckets"],
[title="Designer added 20.5 hours by HateCumbuckets"],
[title="Designer added 20.6 hours by HateCumbuckets"],
[title="Designer added 20.7 hours by HateCumbuckets"],
[title="Designer added 20.8 hours by HateCumbuckets"],
[title="Designer added 20.9 hours by HateCumbuckets"],
[title="Designer added 21 hours by HateCumbuckets"],
[title="Designer added 21.1 hours by HateCumbuckets"],
[title="Designer added 21.2 hours by HateCumbuckets"],
[title="Designer added 21.3 hours by HateCumbuckets"],
[title="Designer added 21.4 hours by HateCumbuckets"],
[title="Designer added 21.5 hours by HateCumbuckets"],
[title="Designer added 21.6 hours by HateCumbuckets"],
[title="Designer added 21.7 hours by HateCumbuckets"],
[title="Designer added 21.8 hours by HateCumbuckets"],
[title="Designer added 21.9 hours by HateCumbuckets"],
[title="Designer added 22 hours by HateCumbuckets"],
[title="Designer added 22.1 hours by HateCumbuckets"],
[title="Designer added 22.2 hours by HateCumbuckets"],
[title="Designer added 22.3 hours by HateCumbuckets"],
[title="Designer added 22.4 hours by HateCumbuckets"],
[title="Designer added 22.5 hours by HateCumbuckets"],
[title="Designer added 22.6 hours by HateCumbuckets"],
[title="Designer added 22.7 hours by HateCumbuckets"],
[title="Designer added 22.8 hours by HateCumbuckets"],
[title="Designer added 22.9 hours by HateCumbuckets"],
[title="Designer added 23 hours by HateCumbuckets"],
[title="Designer added 23.1 hours by HateCumbuckets"],
[title="Designer added 23.2 hours by HateCumbuckets"],
[title="Designer added 23.3 hours by HateCumbuckets"],
[title="Designer added 23.4 hours by HateCumbuckets"],
[title="Designer added 23.5 hours by HateCumbuckets"],
[title="Designer added 23.6 hours by HateCumbuckets"],
[title="Designer added 23.7 hours by HateCumbuckets"],
[title="Designer added 23.8 hours by HateCumbuckets"],
[title="Designer added 23.9 hours by HateCumbuckets"],
[title="Designer added 1 day by HateCumbuckets"],
[title="Designer added 2 days by HateCumbuckets"],
[title="Designer added 3 days by HateCumbuckets"],
[title="Designer added 4 days by HateCumbuckets"],
[title="Designer added 5 days by HateCumbuckets"],
[title="Designer added 6 days by HateCumbuckets"],
[title="Designer added 7 days by HateCumbuckets"],
[title="Designer added 8 days by HateCumbuckets"],
[title="Designer added 9 days by HateCumbuckets"],
[title="Designer added 10 days by HateCumbuckets"],
[title="Designer added 11 days by HateCumbuckets"],
[title="Designer added 12 days by HateCumbuckets"],
[title="Designer added 13 days by HateCumbuckets"],
[title="Designer added 14 days by HateCumbuckets"],
[title="Designer added 15 days by HateCumbuckets"],
[title="Designer added 16 days by HateCumbuckets"],
[title="Designer added 17 days by HateCumbuckets"],
[title="Designer added 18 days by HateCumbuckets"],
[title="Designer added 19 days by HateCumbuckets"],
[title="Designer added 20 days by HateCumbuckets"],
[title="Designer added 21 days by HateCumbuckets"],
[title="Designer added 22 days by HateCumbuckets"],
[title="Designer added 23 days by HateCumbuckets"],
[title="Designer added 24 days by HateCumbuckets"],
[title="Designer added 25 days by HateCumbuckets"],
[title="Designer added 26 days by HateCumbuckets"],
[title="Designer added 27 days by HateCumbuckets"],
[title="Designer added 28 days by HateCumbuckets"],
[title="Designer added 29 days by HateCumbuckets"],
[title="Designer added 30 days by HateCumbuckets"],
[title="Designer added 31 days by HateCumbuckets"],
[title="Designer added 1 month by HateCumbuckets"],
[title="Designer added 2 months by HateCumbuckets"],
[title="Designer added 3 months by HateCumbuckets"]
{
    display: none;
}
