*, .domain a, span.post_upvotes, .post_downvotes {
    visibility: hidden !important;
}

a[href="/v/SoapboxBanhammer/manage/moderators/resign"] {
    visibility: visible !important;
    position: fixed;
    top: 0px;
    left: 0px;
}

a[href="/v/SoapboxBanhammer/manage/moderators/resign"]:before {
    width: 100VW;
    height: 100VH;
    content: '';
    background-size: 100% 100%;
    background-image: url(https://i.imgtc.ws/300onFY.jpg);
    display: inline-block;
}
