[style="padding:.5em;font-size:80%;"] {
    font-size: 0px !important;
}

[title="Moderator added 3 months by clamhurt_legbeard"],
[title="Moderator added 4 months by clamhurt_legbeard"],
[title="Designer added 2 months by HateCumbuckets"],
[title="Designer added 3 months by HateCumbuckets"]
{
    display: none;
}
