.subscribers span.word {
    font-size: 0px;
}
.subscribers span.word:after {
    font-size: 12px;
    content: 'shitposters';
}
[title="Designer added 55 minutes by HateCumbuckets"],
[title="Designer added 1 hour by HateCumbuckets"],
[title="Designer added 2 hour by HateCumbuckets"],
[title="Designer added 3 hour by HateCumbuckets"],
[title="Designer added 4 hour by HateCumbuckets"],
[title="Designer added 5 hour by HateCumbuckets"],
[title="Designer added 6 hour by HateCumbuckets"],
[title="Designer added 7 hour by HateCumbuckets"],
[title="Designer added 8 hour by HateCumbuckets"],
[title="Designer added 9 hour by HateCumbuckets"],
[title="Designer added 10 hour by HateCumbuckets"],
[title="Designer added 11 hour by HateCumbuckets"],
[title="Designer added 12 hour by HateCumbuckets"],
[title="Designer added 13 hour by HateCumbuckets"],
[title="Designer added 14 hour by HateCumbuckets"],
[title="Designer added 15 hour by HateCumbuckets"],
[title="Designer added 16 hour by HateCumbuckets"],
[title="Designer added 17 hour by HateCumbuckets"],
[title="Designer added 18 hour by HateCumbuckets"],
[title="Designer added 19 hour by HateCumbuckets"],
[title="Designer added 20 hour by HateCumbuckets"],
[title="Designer added 21 hour by HateCumbuckets"],
[title="Designer added 22 hour by HateCumbuckets"],
[title="Designer added 23 hour by HateCumbuckets"],
[title="Designer added 1 day by HateCumbuckets"],
[title="Designer added 2 days by HateCumbuckets"],
[title="Designer added 3 days by HateCumbuckets"],
[title="Designer added 4 days by HateCumbuckets"],
[title="Designer added 5 days by HateCumbuckets"],
[title="Designer added 6 days by HateCumbuckets"],
[title="Designer added 7 days by HateCumbuckets"],
[title="Designer added 8 days by HateCumbuckets"],
[title="Designer added 9 days by HateCumbuckets"],
[title="Designer added 10 days by HateCumbuckets"],
[title="Designer added 11 days by HateCumbuckets"],
[title="Designer added 12 days by HateCumbuckets"],
[title="Designer added 13 days by HateCumbuckets"],
[title="Designer added 14 days by HateCumbuckets"],
[title="Designer added 15 days by HateCumbuckets"],
[title="Designer added 16 days by HateCumbuckets"],
[title="Designer added 17 days by HateCumbuckets"],
[title="Designer added 18 days by HateCumbuckets"],
[title="Designer added 19 days by HateCumbuckets"],
[title="Designer added 20 days by HateCumbuckets"],
[title="Designer added 21 days by HateCumbuckets"],
[title="Designer added 22 days by HateCumbuckets"],
[title="Designer added 23 days by HateCumbuckets"],
[title="Designer added 24 days by HateCumbuckets"],
[title="Designer added 25 days by HateCumbuckets"],
[title="Designer added 26 days by HateCumbuckets"],
[title="Designer added 27 days by HateCumbuckets"],
[title="Designer added 28 days by HateCumbuckets"],
[title="Designer added 29 days by HateCumbuckets"],
[title="Designer added 30 days by HateCumbuckets"],
[title="Designer added 31 days by HateCumbuckets"],
[title="Designer added 1 month by HateCumbuckets"],
[title="Designer added 2 months by HateCumbuckets"],
[title="Designer added 3 months by HateCumbuckets"]
{
    display: none;
}
